{% extends "base.html" %}

{% block title %}Adding new booking{% endblock %}

{% block content %}
    <div id="message-container" style="display:none;"></div>

    <div class="menu">
    <a class="card" href="/index.html">Go back to main page</a>
    </div>

    <h1>Create Booking</h1>
    <form onsubmit="attemptCreateBooking(event)">
        <label for="class_id">Classroom:</label><br>
        <select id="class_id" name="class_id" required>
            <option value="">Select classroom</option>

            {% for c in classrooms %}
            <option value="{{ c.class_id }}">
                {% if c.class_name.is_some() %}
                    {{ c.class_name.as_ref().unwrap() }}
                {% endif %}
                {% if c.class_number.is_some() %}
                    ({{ c.class_number.as_ref().unwrap() }})
                {% endif %}
            </option>
            {% endfor %}

        </select>
        <br><br>

        <label>From:</label><br>
        <input type="datetime-local" id="booking_from" name="booking_from" required><br><br>

        <label>To:</label><br>
        <input type="datetime-local" id="booking_to" name="booking_to" required><br><br>

        <label>Your Nick (by using your real name you accept that it will be shown for everyone):</label><br>
        <input type="text" id="booking_owner" name="booking_owner" required><br><br>

        <label>Delete code (save this code, it will be needed to delete the booking):</label><br>
        <input type="password" id="booking_delete_code" name="booking_delete_code" required><br><br>

        <div class="checkbox-container">
            <input type="checkbox" id="accept_privacy_policy" name="accept_privacy_policy" required>
            <label for="accept_privacy_policy">
                I accept the <a href="/privacy_policy">privacy policy</a>
            </label>
        </div>
        <br>

        <button type="submit">Submit</button>
    </form>

    <script>
        function showMessage(msg, type) {
            const container = document.getElementById("message-container");

            container.innerText = msg;
            container.className = type === "success" ? "alert-success" : "alert-error";
            container.style.display = "block";
        }

        async function attemptCreateBooking(event) {
            event.preventDefault();

            const response = await fetch("/bookings", {
                method: "POST",
                body: new URLSearchParams(new FormData(event.target))
            });
            const data = await response.json();

            if (response.ok) {
                showMessage(data.message, "success");
            } else {
                showMessage(data.message, "error");
            }
        }

    </script>


{% endblock %}