{% extends "base.html" %}

{% block title %}Adding new booking{% endblock %}

{% block content %}
    <div class="menu">
    <a class="card" href="/index.html">Go back to main page</a>
    </div>

    <h1>Create Booking</h1>
    <form method="post" action="/bookings">
        <label for="class_id">Classroom:</label><br>
        <select id="class_id" name="class_id" required>
            <option value="">Select classroom</option>

            {% for c in classrooms %}
            <option value="{{ c.class_id }}">
                {% if c.class_name.is_some() %}
                    {{ c.class_name.as_ref().unwrap() }}
                {% endif %}
                {% if c.class_number.is_some() %}
                    ({{ c.class_number.as_ref().unwrap() }})
                {% endif %}
            </option>
            {% endfor %}

        </select>
        <br><br>

        <label>From:</label><br>
        <input type="datetime-local" id="booking_from" name="booking_from" required><br><br>

        <label>To:</label><br>
        <input type="datetime-local" id="booking_to" name="booking_to" required><br><br>

        <label>Your Name:</label><br>
        <input type="text" id="booking_owner" name="booking_owner" required><br><br>

        <button type="submit">Submit</button>
    </form>

    {% if let Some(msg) = error_msg %}
    <div class="alert">{{ msg }}</div>
    {% endif %}
{% endblock %}