{% extends "base.html" %}

{% block title %}RoomBooker{% endblock %}

{% block content %}

<div class="menu">
    <a class="card" href="/index.html">Go to the main page</a>
</div>

<h1>Polityka prywatności</h1>

<h2>1. Informacje ogólne</h2>

Niniejsza polityka prywatności określa zasady przetwarzania danych osobowych użytkowników serwisu internetowego służącego do rezerwacji sal. <br>
<br>
Administratorem danych osobowych jest: Roombooker
Kontakt: roombookerapp@gmail.com

<h2>2. Zakres zbieranych danych</h2>

W ramach korzystania z serwisu mogą być zbierane następujące dane:

<ul>
    <li> nick (nazwa użytkownika podana dobrowolnie) </li>
    <li> informacje o dokonanych rezerwacjach (np. data, godzina, sala) </li>
</ul>

Serwis zachęca do <b>niepodawania prawdziwego imienia i nazwiska</b> oraz korzystania z pseudonimu (nicku).

<h2>3. Cele i podstawy przetwarzania danych</h2>

Dane osobowe przetwarzane są w następujących celach:

<h3> Realizacja funkcjonalności serwisu (rezerwacje) </h3>

Podstawa prawna:
art. 6 ust. 1 lit. b RODO
(przetwarzanie niezbędne do wykonania usługi)

<h2> 4. Udostępnianie danych </h2>

Dane użytkowników <b>nie są sprzedawane ani udostępniane podmiotom trzecim</b>, z wyjątkiem:

<ul>
    <li> podmiotów zapewniających infrastrukturę serwera - dostawca VPS, </li>
    <li> przypadków wymaganych przez przepisy prawa. </li>
</ul>

<h2> 5. Czas przechowywania danych </h2>

Dane przechowywane są:

<li> przez czas istnienia rezerwacji, to jest: 
    <ul>
        <li> od czasu utworzenia rezerwacji do maksymalnie tygodnia po jej zakończeniu</li>
        <li> lub do czasu ręcznego usunięcia rezerwacji przez użytkownika</li>
    </ul>
</li>

<h2> 6. Prawa użytkownika </h2>

Użytkownik ma prawo do:

<ul>
    <li> dostępu do swoich danych, </li>
    <li> ich sprostowania, </li>
    <li> usunięcia („prawo do bycia zapomnianym”), </li>
    <li> ograniczenia przetwarzania, </li>
    <li> wniesienia sprzeciwu wobec przetwarzania, </li>
    <li> złożenia skargi do Urząd Ochrony Danych Osobowych. </li>
</ul>

<h2> 7. Dobrowolność podania danych </h2>

Podanie danych jest dobrowolne, jednak niezbędne do korzystania z funkcji rezerwacji. Ponownie zachęcamy do podania nicku niepowiązanego z prawdziwym imieniem i nazwiskiem użytkownika.

<h2> 8. Zabezpieczenia danych </h2>

Administrator stosuje odpowiednie środki techniczne i organizacyjne w celu ochrony danych, w szczególności:

<li> maksymalne ograniczenie ilości i czasu przechowywania danych </li>

<h2> 9. Zmiany polityki prywatności </h2>

Polityka prywatności może być aktualizowana w przypadku zmian w funkcjonowaniu serwisu lub przepisach prawa.

<h2> 10. Kontakt </h2>

W sprawach związanych z danymi osobowymi prosimy o kontakt:
roombookerapp@gmail.com

{% endblock %}